@charset "utf-8";
/* CSS Document */
input[type=text]{     
    /*  border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px; 
     box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #ffffff ;
   */
    border:1px solid #000000;
	text-align:center;    
    
     
   
}
input{
	text-align:center;
	margin: 0px;
	padding: 0px;
	clear: 0;
	float: 0;
	height: 0px;
	width: 0px;
}

.tb_content{
    border-width: thin;    
    border-style: solid; 
    border-color: #999; 
    text-align:center; 
    color:#999;
    background-color: #0CC ;
    }
.tb_content_filha{
    

    border-width: 1px;    
    border-style: solid; 
    border-color: #000; 
    text-align:center; 
    color:#999;
    

    }
.legenda {border-width: thin; border-style: dashed; border-color: #999; text-align:center; color:#999}
/*
#menuHome{
    padding-top: 4px;
    text-decoration: none;
    color: white;       
    position:absolute;	
    z-index:1;   
	height:50px;
	font-size:25px;
	font-weight:bold;
	left:5%;
}   
#menuInstrucoes{
    
    padding-top: 4px;
    text-decoration: none;
    color: white;       
    position:absolute;	
    z-index:1;   
	height:50px;
	font-size:25px;
	font-weight:bold;
	left:15%;
    
}  
*/
